* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

header {
    padding-top: 1rem;
    background-color: #D3CBB8;
    text-align: center;
    color: blue;
    height: auto;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    color: gold;
    font-size: 2rem;
    background: linear-gradient(#D3CBB8, #6D6027);
}

footer {
    background-color: #6D6027;
    margin-top: auto;
    height: 3rem;
}

footer ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: green;
}