body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

header {
    background: linear-gradient(white, gray);
    text-align: center;
    color: blue;
    height: auto;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    color: gold;
    font-size: 2rem;
    background-color: grey;
}

footer {
    background: linear-gradient(grey,white);
   margin-top: auto;
    height: 3rem;
}

footer ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: green;
}